body{
    font-family: "montserrat";
    text-align: center;
}

#title{
    background-color: #ff4c68;
    color: #fff;
}
.big-heading{
    font-family: "Montserrat-black";
    font-size: 3.5rem;
    line-height: 1.5;
    text-align: left;
}
.container-fluid{
    padding: 3% 15% 7%;
}
h2, h3, h4{
    font-family: "Arial";
}

h2{
    
    font-size: 3rem;
    line-height: 1.5;
}
h4{
    
    color:#fff;
    font-size: 3.5rem;
    line-height: 1.5;
}

p{
    color: #8f8f8f;
}
/* navigation bar */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.3rem;
    font-family: "ubuntu";

}

/* Download Buttons */
.download-button{
    margin: 5% 3% 5% 0%;
}

/* Title Image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right:30%;
}

/* Features section */
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    
}

.feature-box{
    
    padding: 5%;

}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}  
.icon:hover {
    color: #ff4c68;
}




/* Testimonial */

#testimonials{
   
    
    background-color:#ef8172;
    color: white;

}
.carousel-item{
    padding: 7% 15%;
}
.test-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color:#ef8172;
   
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
/* Pricing section */

#pricing{
    padding: 100px;
    
}

.pricing-column{
    padding: 3% 2%;
}

@media (max-width: 1028px){
    .title-image{
        position: static;
        
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}
#cta{
    background-color: #ff4c68;
    
    padding: 7% 15%;
}

#footer{
    
   
    padding: 7% 15%;
    
}
.foot-copy{
    color: gray;
}
.social-icon {
    margin: 20px 10px;
}